html, body {
    height: 100%;
    background-color: rgb(222, 220, 236);
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

button {
    height: 50px;
    width: 150px;
}

.optionC {
    text-align: center;
}


#container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 5px solid #6C757D;
    margin-top: 5 px;
    background-color: white;
}

.board {
    border: 1px solid black;
    background-color: white;
}