html, body {
    height: 100%;
    background-color: rgb(10, 8, 27);
}

button {
    height: 50px;
    width: 150px;
}

.height {
    height: 100%;
}

.button, .grid {
    display: flex;
    justify-content: center;
}

.button {
    height: 10%;
}

.grid { 
    height: 75%;
    align-items: center;
}

.grid-item {
    background-color: rgb(16, 8, 27);
}

.container {
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(16, auto);
    border: 3px solid rgb(141, 140, 140);
}